{% extends "Empresas/PanelEmpresas.html" %}
{% block body %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">CLIENTES</h1>
    <div style="display: flex; justify-content: flex-end; margin-bottom: 40px;">
        <button class="btn btn-primary" onclick="abrirFormulario()">Crear</button>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3"></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>IDENTIFICACION</th>
                            <th>NOMBRE</th>
                            <th>TELEFONO</th>
                            <th>COMPRAS</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for clientes in clientes %}
                        {% if loop.index % 1 == 0 %}
                        <tr style="background-color: white;">
                            {% else %}
                        <tr>
                            {% endif %}
                            <td>{{ clientes.id }}</td>
                            <td>{{ clientes.identificacion }}</td>
                            <td>{{ clientes.nombre }}</td>
                            <td>{{ clientes.telefono }}</td>
                            <td>{{ clientes.compras }}</td>
                            <td>
                                <a name="" id="" class="btn btn-primary btnEliminarCliente" style="background:red;" data-id="{{ clientes.id }}" role="button">ELIMINAR</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Floating Form -->
<div id="floatingForm" class="floating-form" style="display: none;">
    <div class="form-container">
        
        <span class="close-btn" onclick="cerrarFormulario()">&times;</span>
        <h2>NUEVO CLIENTE</h2>
   
            <div class="form-group">
                <label for="id">identificacion:</label>
                <input type="text" id="ClientesCrearId" name="id" placeholder="ID" required="">
            </div>
            <div class="form-group">
                <label for="producto">nombre:</label>
                <input type="text" id="ClientesCrearIdNombre" name="nombre" placeholder="Nombre" required="">
            </div>
            <div class="form-group">
                <label for="precio">telefono:</label>
                <input type="text" id="ClientesCrearIdTelefono" name="telefono" placeholder="telefono" required="">
            </div>
            <button type="submit" class="btn btn-primary" onclick="crearCliente()">Guardar</button>
      
    </div>
</div>

<script>
    function abrirFormulario() {
        document.getElementById('floatingForm').style.display = 'block';
    }

    function cerrarFormulario() {
        document.getElementById('floatingForm').style.display = 'none';
    }



    document.querySelectorAll('.btnEliminarCliente').forEach(item => {
    item.addEventListener('click', event => {
        const id = event.target.dataset.id; 
        EliminarCliente(id); 
    });
});


function EliminarCliente(id) {
    let idDelete = id;
    let endpoint = "/controller/EliminarCliente";
    
    axios.post(endpoint, {
        'id': idDelete,
    
    })
    .then(function (response) {
        console.log("Producto Eliminado: " + idDelete );
        window.location.reload();

    })
    .catch(function (error) {
        console.error('Error creating product:', error);
    });
}
   
</script>

{% endblock %}
