{% extends "Empresas/PanelEmpresas.html" %}
{% block body %}
<div class="container-fluid">
    <!-- Resto de tu contenido -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="m-0 font-weight-bold text-primary">Productos</h6>
                </div>
                <div class="col-md-6 text-right">
                    <input type="text" id="searchInput" class="form-control" placeholder="Buscar producto" onkeyup="filtrarProductos()">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PRODUCTO</th>
                            <th>PRECIO</th>
                            <th>STOCK</th>
                            <th>CANTIDAD</th>
                            <th>ACCIONES</th>                                 
                        </tr>
                    </thead>
                    <tbody id="productosBody">
                        {% for producto in productos %}
                        <tr id="producto{{ producto.id }}">
                            <td>{{ producto.id }}</td>
                            <td>{{ producto.producto }}</td>
                            <td>{{ producto.precioFinal }}</td>
                            <td id="stock{{ producto.id }}">{{ producto.stock }}</td>
                            <td><input type="number" id="cantidad{{ producto.id }}" min="1" value="1" max="{{ producto.stock }}"></td>
                            <td>
                                <a class="btn btn-primary" id="accion{{ producto.id }}" href="#" onclick="manejarCarrito('{{ producto.id }}', '{{ producto.producto }}', '{{ producto.precioFinal }}', '{{ producto.descuento_tiempo }}', {{ producto.stock }})">AÑADIR</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Floating Cart Preview -->
    <div id="floatingCart" style="right: 20px; top: 20px; width: 300px; background: #fff; border: 1px solid #ccc; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); display: none; z-index: 1000; padding: 10px;">
        <div style="display: flex;"> 
            <h5>Carrito   -    </h5>
            <h5 id="ultimodato">{{ ultimo_numero_factura if ultimo_numero_factura else 0 }}</h5>

        </div>
        
        <ul id="listaCarrito" class="list-group mb-3"></ul>
        <h6>Total: $<span id="total">0.00</span></h6>
        <!-- Select Client -->
        <div class="form-group">
            <label for="selectCliente">Cliente</label>
            <select class="form-control" id="selectCliente">
                {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.identificacion }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Select Seller -->
        <div class="form-group">
            <form action="">
            <label for="selectVendedor">Vendedor</label>
            <select class="form-control" id="selectVendedor">
                {% for vendedor in vendedores %}
                <option value="{{ vendedor.id }}">{{ vendedor.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="button" class="btn btn-primary mb-2" onclick="hacerCotizacion()">Hacer Cotización</button>
        <button type="button" class="btn btn-secondary" onclick="ocultarCarrito()">Cerrar</button>
    </form>
    </div>

    <!-- Resto de tu contenido -->
</div>

<script>
    const carrito = [];
    
    function hacerCotizacion() {
        const clienteId = document.getElementById('selectCliente').value;
        const vendedorId = document.getElementById('selectVendedor').value;
        const total = document.getElementById('total').textContent;
        const Nfactura = document.getElementById('ultimodato').innerHTML;
        let nameEmpresa = document.getElementById("name_empresa").innerText;

        

        if (carrito.length === 0 || !clienteId || !vendedorId) {
            alert('El carrito está vacío, o faltan seleccionar cliente y vendedor.');
            return;
        }
    
        let endpoint = "/controller/hacercotizacion";
    
        axios.post(endpoint, {
            'clienteId': clienteId,
            'vendedorId': vendedorId,
            'telefono': total,
            'carrito': carrito,
            'Nfactura':Nfactura,
            'empresa':nameEmpresa
        })
        .then(function (response) {
            console.log("Carrito actual: ", carrito);
            console.log("Respuesta del servidor: ", response);
            window.location.reload();
            
        })
        .catch(function (error) {
            console.error('Error al crear producto:', error);
        });
    }



    function manejarCarrito(id, producto, precio, descuento, stock) {
        if (productoEnCarrito(id)) {
            quitarDelCarrito(id);
        } else {
            agregarAlCarrito(id, producto, precio, descuento, stock);
        }
        actualizarBoton(id);
    }

    function productoEnCarrito(id) {
        return carrito.some(item => item.id === id);
    }

    function agregarAlCarrito(id, producto, precio, descuento, stock) {
        const cantidad = document.getElementById(`cantidad${id}`).value;
        if (cantidad <= stock) {
            carrito.push({ id: id, producto: producto, precio: precio, descuento: descuento, cantidad: cantidad, stock: stock });
            actualizarCarrito();
        } else {
            alert('Cantidad supera el stock disponible');
        }
    }

    function quitarDelCarrito(id) {
        const index = carrito.findIndex(item => item.id === id);
        if (index !== -1) {
            carrito.splice(index, 1);
            actualizarCarrito();
        }
    }

    function actualizarCarrito() {
        const listaCarrito = document.getElementById('listaCarrito');
        const totalCarrito = document.getElementById('total');
        listaCarrito.innerHTML = '';
        let total = 0;

        carrito.forEach(producto => {
            const itemCarrito = document.createElement('li');
            itemCarrito.className = 'list-group-item';
            itemCarrito.textContent = `${producto.producto} - Precio: ${producto.precio} - Descuento: ${producto.descuento}% - Cantidad: ${producto.cantidad}`;
            listaCarrito.appendChild(itemCarrito);
            const precioConDescuento = producto.precio - (producto.precio * (producto.descuento / 100));
            total += precioConDescuento * producto.cantidad;
        });

        totalCarrito.textContent = total.toFixed(2);

        if (carrito.length > 0) {
            document.getElementById('floatingCart').style.display = 'block';
        } else {
            document.getElementById('floatingCart').style.display = 'none';
        }
    }

    function actualizarBoton(id) {
        const boton = document.getElementById(`accion${id}`);
        if (productoEnCarrito(id)) {
            boton.classList.remove('btn-primary');
            boton.classList.add('btn-danger');
            boton.textContent = 'QUITAR';
        } else {
            boton.classList.remove('btn-danger');
            boton.classList.add('btn-primary');
            boton.textContent = 'AÑADIR';
        }
    }

    function ocultarCarrito() {
        document.getElementById('floatingCart').style.display = 'none';
    }

    function filtrarProductos() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toLowerCase();
        const rows = document.getElementById('productosBody').getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
            const producto = rows[i].getElementsByTagName('td')[1];
            if (producto) {
                const txtValue = producto.textContent || producto.innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }





    
</script>
{% endblock %}
