{% extends "Empresas/PanelEmpresas.html" %}
{% block body %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">PARAMETROS</h1> 
    <div style="display: flex; justify-content: flex-end; margin-bottom: 40px;">
        
        <div class="d-grid gap-2" style="margin-left: 20px;">
           
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><h1 class="h3 mb-2 text-gray-800"></h1> </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PRODUCTO</th>
                            <th>PRECIO VENTA</th>
                            <th>% GANANCIA</th>
                            <th>% IVA</th>
                            <th>PRECIO FINAL</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for productos in productos %}
                        {% if loop.index % 1 == 0 %}
                        <tr style="background-color: white;">
                            {% else %}
                        <tr>
                            {% endif %}
                        
                            <td>{{ productos.id }}</td>
                            <td>{{ productos.producto }}</td>
                            <td>{{ productos.precio}}</td>
                            <td>{{ productos.ganancia }}</td>
                            <td>{{ productos.iva }}</td>
                            <td>{{ productos.precioFinal }}</td>
                            <td> <button type="button" name="btnModificar" id="btnModificar" class="btn btn-primary" onclick="mostrarFormularioModificar()">MODIFICAR</button></td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->





<!-- Formulario flotante para modificar -->
<div id="floatingFormModificar" class="floating-form" style="display: none;">
    <div class="form-container">
        <span class="close-btn" onclick="cerrarFormularioModificar()">&times;</span>
        <h2>Modificar Parámetro</h2>
        <form id="formularioModificar">
            <input type="text" id="idEditar" name="id" style="display: none;">
            <div class="form-group">
                <label for="producto">PRODUCTO:</label>
                <input type="text" id="ProductoEditarPro" name="ProductoEditarPro" placeholder="Código del parámetro" disabled>
            </div>
            <div class="form-group">
                <label for="precioventa">PRECIO VENTA:</label>
                <input type="text" id="precioVentaEditar" name="precioVentaEditar" placeholder="Nombre del producto" disabled>
            </div>
            <div class="form-group">
                <label for="ganancia">GANANCIA:</label>
                <input type="text" id="gananciaEditar" name="gananciaEditar" placeholder="Precio de venta">
            </div>
            <div class="form-group">
                <label for="iva">IVA:</label>
                <input type="text" id="ivaEditar" name="ivaEditar" placeholder="% de ganancia">
            </div>
            <div class="form-group">
                <label for="preciofinal">PRECIO FINAL</label>
                <input type="text" id="precioFinalEditar" name="precioFinalEditar" placeholder="% de IVA" disabled>
            </div>
            <button type="button" class="btn btn-primary" onclick="editarParametros()">Guardar Cambios</button>
        </form>
    </div>
</div>
<script>
    


    function editarParametros() {
    const id = document.getElementById('idEditar').value;
    const producto = document.getElementById('ProductoEditarPro').value;
    const precio = parseFloat(document.getElementById('precioVentaEditar').value);
    const ganancia = parseFloat(document.getElementById('gananciaEditar').value);
    const iva = parseFloat(document.getElementById('ivaEditar').value);

    // Calcula el precio final sumando la ganancia y el IVA al precio base
    const precioFinal = precio + (precio * ganancia / 100) + (precio * iva / 100);
    
    let endpoint = "/controller/EditarParametros";
    
    axios.post(endpoint, {
        'id':id,
        'producto': producto,
        'precio': precio,
        'ganancia': ganancia,
        'iva': iva,
        'PrecioFinal': precioFinal
    })
    .then(function (response) {
        console.log(response);
        console.log(producto);
       window.location.reload();
    })
    .catch(function (error) {
        console.error('Error EDITAR product:', error);
    });
}



    function mostrarFormularioModificar() {
        // Obtener los datos de la fila seleccionada
        var fila = event.target.parentNode.parentNode;
        var id = fila.cells[0].innerText;
        var producto = fila.cells[1].innerText;
        var precioVenta = fila.cells[2].innerText;
        var ganancia = fila.cells[3].innerText;
        var iva = fila.cells[4].innerText;
        var PRECIOFINAL = fila.cells[5].innerText;
        

        // Llenar los campos del formulario con los datos obtenidos
        document.getElementById("idEditar").value = id;
        document.getElementById("ProductoEditarPro").value = producto;
        document.getElementById("precioVentaEditar").value = precioVenta;
        document.getElementById("gananciaEditar").value = ganancia;
        document.getElementById("ivaEditar").value = iva;
        document.getElementById("precioFinalEditar").value = PRECIOFINAL;
        document.getElementById("floatingFormModificar").style.display = "block";
    }

    function cerrarFormularioModificar() {
        // Ocultar el formulario flotante para modificar
        document.getElementById("floatingFormModificar").style.display = "none";
    }

    function enviarFormularioModificar() {
        // Aquí puedes implementar la lógica para enviar los datos del formulario modificado al servidor
        // Por ejemplo, podrías hacer una solicitud AJAX para enviar los datos
        // Una vez que los datos se han enviado y se ha recibido una respuesta exitosa, puedes cerrar el formulario
        cerrarFormularioModificar();
    }
</script>



{% endblock %}