{% extends "Empresas/PanelEmpresas.html" %}
{% block body %}
 <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">STOCK</h1> 
                   <div style="    display: flex;
                   justify-content: flex-end; margin-bottom: 40px;" >

                 
    
                   </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                           
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>IDENTIFICACION</th>
                                            <th>NOMBRE</th>
                                            <th>COTIZACION</th>
                                            <th>STOCK</th>
                                            <th>DOCUMENTO PDF</th>
                                            </tr>
                                    </thead>
                                  
                                        <tr>
                                            <td>1</td>
                                            <td>1000019923</td>
                                            <td>CARLOS ANGARITA</td>
                                            <td>001111</td>
                                            <td>0</td>
                                            <td><a href=""><img style="width: 30px;" src="{{url_for('static', filename ='img/pdf.png')}}" alt=""></a></td>
                                           
                                        </tr>
                                    
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
{% endblock %}
