{% extends "layout.html" %}
{% block body %}
 <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">COTIZACIONES</h1> 
                   <div style="    display: flex;
                   justify-content: flex-end; margin-bottom: 40px;" >

                 
                    
                   
                   </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                           
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>PRODUCTO</th>
                                            <th>PRECIO</th>
                                            <th>DESCUENTO</th>
                                            <th>ACCIONES</th>                                 
                                        </tr>
                                    </thead>
                                  
                                        <tr>
                                            <td>1</td>
                                            <td>ARROZ</td>
                                            <td>20000</td>
                                            <td>50%</td>                                       
                                            <td>
                                                <a name=""id=""class="btn btn-primary" href="#"role="button">AÑADIR</a>  
                                            </td>
                                        </tr>
                                    
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
{% endblock %}
