{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">PRODUCTOS</h1>
    <div style="display: flex; justify-content: flex-end; margin-bottom: 40px;">
        <div class="d-grid gap-2">
            <button type="button" name="btnCrear" id="btnCrear" class="btn btn-primary" onclick="mostrarFormulario()">CREAR</button>

        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PRODUCTO</th>
                            <th>STOCK</th>
                            <th>IMAGEN</th>
                            <th>PRECIO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>CAJA</td>
                            <td>23</td>
                            <td><img style="width: 80px;" src="{{url_for('static', filename ='img/producto.png')}}" alt=""></td>
                            <td>20.000</td>
                            <td>
                                <a name="" id="" class="btn btn-primary" style="background:red;" href="#" role="button">ELIMINAR</a>
                                <a name="" id="" class="btn btn-primary" style="background:orange;" href="#" role="button">EDITAR</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="floatingForm" class="floating-form">
        <div class="form-container">
            <span class="close-btn" onclick="cerrarFormulario()">&times;</span>
            <h2>Agregar Producto</h2>
            <form>
                <div class="form-group">
                    <label for="nombre">Producto:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto">
                </div>
                <div class="form-group">
                    <label for="stock">Stock:</label>
                    <input type="number" id="stock" name="stock" placeholder="Cantidad en stock">
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen:</label>
                    <input type="text" id="imagen" name="imagen" placeholder="URL de la imagen">
                </div>
                <div class="form-group">
                    <label for="precio">Precio:</label>
                    <input type="text" id="precio" name="precio" placeholder="Precio del producto">
                </div>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </div>
    </div>
    

</div>
<!-- /.container-fluid -->
</div>
{% endblock %}
